<div class="modal fade" id="confirmDeleteTransactionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to remove this transaction {{transaction.id}}?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-ng-click="removeTransaction(transaction)">Yes, delete.</button>
                <button class="btn btn-default" data-dismiss="modal">No, lol.</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
