<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Are you sure?</h4>
</div>
<div class="modal-body">
    Are you sure you want to remove the transaction '{{transaction.name}}',
    on the amount of {{transaction.amount}}, on the date of {{transaction.date}}
</div>
<div class="modal-footer">
    <button class="btn btn-danger"  data-ng-click="ok()">Yes, delete.</button>
    <button class="btn btn-default" data-ng-click="cancel()">No, lol.</button>
</div>
