<div class="row">
    <div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
        <ol class="breadcrumb">
            <li><a data-ng-href="#">Home</a></li>
            <li><a data-ng-href="#/checkingAccounts">Checking accounts</a></li>
        </ol>
        <h1>
            Add Checking account
        </h1>

        <div data-cas-errors-box></div>

        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-md-2 control-label">Name <span class="required">*</span> </label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="name" placeholder="Name" data-ng-model="checkingAccountNew.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Currency <span class="required">*</span></label>
                <div class="col-md-6">
                    <ui-select ng-model="currency.selected" theme="selectize" style="width: 200px;">
                        <ui-select-match placeholder="Select a currency">{{$select.selected.code}}</ui-select-match>
                        <ui-select-choices repeat="currency in currencies | filter: $select.search">
                            <span ng-bind-html="currency.code | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Financial Institution <span class="required">*</span></label>
                <div class="col-md-6">
                    <ui-select ng-model="financialInstitution.selected" reset-search-input="false" theme="selectize" style="width: 200px;">
                        <ui-select-match placeholder="Select a financial institution">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="financialInstitution in financialInstitutionResults track by $index" refresh="refreshFinancialInstitutions($select.search)" refresh-delay="0">
                            <span ng-bind-html="financialInstitution.name | highlight: $select.search"></span>
                            <small ng-bind-html="financialInstitution.blz | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>

                    <input type="hidden" style="width: 300px" id="financialInstitutionId" data-ng-model="checkingAccountNew.financialInstitutionId"/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="pull-right">
                    <a data-ng-href="#/checkingAccounts" class="btn btn-default btn-lg">Cancel</a>
                    <button data-ng-click="persist()" type="submit" class="btn btn-primary btn-lg">Save</button>
                </div>
            </div>

        </form>
    </div><!-- /col -->
</div><!-- /row -->
