<div class="row">
    <div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
        <ol class="breadcrumb">
            <li><a data-ng-href="#">Home</a></li>
            <li><a data-ng-href="#/checkingAccounts">Checking accounts</a></li>
            <li><a data-ng-href="#/checkingAccounts/{{checkingAccount.id}}">{{checkingAccount.name}}</a></li>
        </ol>
        <div class="pull-right">
            <button class="btn btn-default" type="button" role="button" data-target="#createTransactionModal" data-toggle="modal">Add transaction</button>
            <button class="btn btn-primary" type="button" role="button" data-target="#importFileModal"        data-toggle="modal">Import transaction file</button>
            <button class="btn btn-danger"  type="button" role="button" data-target="#confirmDeleteModal"     data-toggle="modal">Remove this account</button>
        </div>
        <h1>
            Checking account {{checkingAccount.name}}
        </h1>

        <div class="modal fade" id="createTransactionModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Create transaction</h4>
                    </div>
                    <div class="modal-body">
                        <div data-cas-errors-box data-errors="transactionErrors"></div>
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="col-md-3 control-label">Name <span class="required">*</span> </label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" id="name" placeholder="Name" data-ng-model="transactionNew.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="date" class="col-md-3 control-label">Date <span class="required">*</span> </label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" id="date" placeholder="Date" data-ng-model="transactionNew.date">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="amount" class="col-md-3 control-label">Amount ({{checkingAccount.currencyUnit}}) <span class="required">*</span> </label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" id="amount" placeholder="Amount" data-ng-model="transactionNew.amount">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-ng-click="createTransaction()">Create</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="importFileModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Import transactions file</h4>
                    </div>
                    <div class="modal-body">Not implemented yet</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Import</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="confirmDeleteModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Are you sure?</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to remove this checking account and all related transactions?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-ng-click="removeAccount()">Yes, delete.</button>
                        <button class="btn btn-default" data-dismiss="modal">No, lol.</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div><!-- /col -->
</div><!-- /row -->
