<div class="row">
    <div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
        <ol class="breadcrumb">
            <li><a data-ng-href="#">Home</a></li>
            <li><a data-ng-href="#/checkingAccounts">Checking accounts</a></li>
            <li><a data-ng-href="#/checkingAccounts/{{checkingAccount.id}}">{{checkingAccount.name}}</a></li>
        </ol>
        <h1>
            Checking account {{checkingAccount.name}}
        </h1>

        <div data-cas-errors-box></div>
    </div><!-- /col -->
</div><!-- /row -->
