#idle {
  background: none repeat scroll 0 0 #cc5100;
  color: #ffffff;
  font-size: 1.1em;
  padding: 0.909091em;
  text-align: center;
  display: none;
}

#idle a {
  color: #fff;
  font-weight: bold;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.required {
  color: #cb2915;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

i.pficon.action, i.fa.action {
  cursor: pointer;
}
