<div class="ui">
    <h1><i class="money icon"></i>Checking Account - New</h1>
    <p>Create a new checking account</p>
    <div class="container" data-ng-model="checkingAccountNew">
        <div class="ui form segment" id="checkingAccountNewForm">
            <div class="field">
                <label>Account name</label>
                <input name="name" placeholder="Name" type="text" data-ng-model="checkingAccountNew.name">
            </div>
            <div class="field">
                <label>Financial institution</label>
                <div class="ui fluid selection dropdown" id="checkingAccountNewFormFinancialInstitutionDropdown">
                    <div class="text">Select</div>
                    <i class="dropdown icon"></i>
                    <input id="financialInstitutionId" name="financialInstitutionId" type="hidden" data-ng-model="checkingAccountNew.financialInstitutionId">
                    <div class="menu">
                        <div class="item" data-value="a4bcd43b-73cb-40b6-b693-e0268ceddf38">Sparda-M</div>
                        <div class="item" data-value="other">Other</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Currency</label>
                <input name="currencyUnit" placeholder="EUR, USD, BRL" type="text" data-ng-model="checkingAccountNew.currencyUnit">
            </div>
            <div class="ui blue submit button" data-ng-click="createNewAccount()">Submit</div>
            <div class="ui error message"></div>
        </div>
        Name: {{checkingAccountNew.name}}<br/>
        Fin id: {{checkingAccountNew.financialInstitutionId}}<br/>
        Currency: {{checkingAccountNew.currencyUnit}}<br/>
        ID: {{checkingAccountNew.id}}
    </div>
</div>
