<div class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-10 sidebar-pf sidebar-pf-left">
    <ul class="nav nav-pills nav-stacked reference-menu">
        <li class="reference-menu-categories"><a data-ng-href="#/reference/categories">Categories</a></li>
        <li class="reference-menu-exchange-rates"><a data-ng-href="#/reference/exchangeRates">Exchange Rates</a></li>
        <li class="reference-menu-financial-institutions"><a data-ng-href="#/reference/financialInstitutions">Financial Institutions</a></li>
        <li class="reference-menu-mutual-funds"><a data-ng-href="#/reference/mutualFunds">Mutual Funds</a></li>
        <li class="reference-menu-mutual-funds-quotes"><a data-ng-href="#/reference/mutualFundQuotes">Mutual Fund Quotes</a></li>
        <li class="reference-menu-stocks"><a data-ng-href="#/reference/stocks">Stocks</a></li>
        <li class="reference-menu-stock-markets"><a data-ng-href="#/reference/stockMarkets">Stock Markets</a></li>
        <li class="reference-menu-stock-quotes"><a data-ng-href="#/reference/stockQuotes">Stock Quotes</a></li>
    </ul>
</div><!-- /col -->
